data/
data/*.csv
videos/
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.DS_Store
.vscode/
.env/
env/
.idea/
*.egg-info/
mediapipe_env/
*.mp4
*.webm
Gunmen_Dataset/*
Gunmen_Dataset/train/*
Gunmen_Dataset/val/*
*.cache
